[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
lint = "black ."
tests = "python -m unittest discover tests"
ui = "python src/ui.py"

[dev-packages]
black = "*"
rope = "*"

[packages]

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true
